@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CaskaydiaMono Nerd Font";
  font-weight: bold;
  font-size: 20px;
}

window#waybar {
  background: transparent;
  margin-top: 2px;
  padding: 0;
}

window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin-left: 0;
}

mpris#waybar.empty #mpris {
  background: transparent;
  padding: 0;
  margin-right: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

/* === Pill Modules === */
#memory,
#custom-update,
#custom-archlogo,
#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy,
#workspaces,
#custom-screenrecording-indicator,
#disk,
#custom-nvidia_temp,
#custom-nvidia_usage,
#temperature,
#custom-weather,
#tray-expander {
  background-color: rgba(10, 7, 22, 0.55); 
  color: @foreground;
  border: 1.5px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;  
  padding: 10px; 
  margin: 5px; 
  min-height: 0;
}

tooltip {
  border-radius: 10px;
  padding: 2px;
}


#custom-archlogo,
#network {
  padding-right: 17px
}
